<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.hello.drkstr/xtext/natural/Natural"
			class = "drkstr.hello.xtext.natural.natural.NaturalPackage"
			genModel = "model/generated/Natural.genmodel" />
	</extension>
</plugin>
