<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.hello.drkstr/xtext/words/Words"
			class = "drkstr.hello.xtext.words.words.WordsPackage"
			genModel = "model/generated/Words.genmodel" />
	</extension>
</plugin>
